/* test
 * For all media (print, screen)
 */

/* you can import partial SCSS files */
/* @import '_variables'; */
/* @import '_toc'; */
/* ... */

@use "./_param.scss" as param;

@charset "UTF-8";

html {
  writing-mode: vertical-rl;
  orphans: 1;
  widows: 1;
  counter-reset: footnote;
}

* {
  margin: 0;
  padding: 0;
}

body > section {
  string-set: section attr(title);
  break-after: page;
}


@page {
  size: param.$page_width param.$page_height;

  font-size: 8.5pt; /*12Q*/
  font-family:'Gilda Display', 'GenEiChikuMin', serif;

/* 断ち切り、塗り足しの指定 - 不要な場合はここをコメントアウトする */

@if param.$use_bleed { 
  bleed: param.$bleedmargin; 
  marks: crop cross; 
}
/* 余白の指定 */
  margin-top: param.$topmargin; /*天*/
  margin-bottom: param.$bottommargin; /*地*/
  margin-left: param.$lrmargin; /*小口*/
  margin-right: param.$lrmargin; /*小口*/
}

@page :left {
  margin-right: param.$bindmargin; /*ノド*/
  @bottom-left {
    font-size: 8pt;
      content: counter(page) '　' env(pub-title);
      margin-left: 0mm;
      margin-bottom: 3mm;
      writing-mode: horizontal-tb;
  }

  @if param.$use_bleed { 
    /* 隠しノンブル */
    @top-right-corner {
      margin-top:calc(0mm - (param.$bleedmargin)*2.0 - 5pt);
      margin-right:0;
      vertical-align: top;
      text-align: right;
      font-size: 5pt;
      color:black;
      content: counter(page);
      writing-mode: horizontal-tb;
    }
  }
}

@page :right {
  margin-left: param.$bindmargin; /*ノド*/
  @bottom-right {
      font-size: 8pt;

      content: string(section) '　' counter(page);
      margin-right: 5mm;
      margin-bottom: 3mm;
      content: counter(page);

      writing-mode: horizontal-tb;
  }
  @if param.$use_bleed { 
    /* 隠しノンブル */
    @top-left-corner {
      margin-top:calc(0mm - (param.$bleedmargin)*2.0 - 5pt);
      margin-left:0;
      vertical-align: top;
      text-align: left;
      font-size: 5pt;
      color:black;
      content: counter(page);
      writing-mode: horizontal-tb;
    }
  }
}

@page frontmatter { /* Named page rule (name: "frontmatter") */

  @bottom-left { content: none; }
  @bottom-right { content: none; }
}


@page backmatter { /* Named page rule (name: "backmatter") */

  @bottom-left { content: none; }
  @bottom-right { content: none; }
}

@page shortstory_title { /* Named page rule (name: "shortstory_title") */

  @bottom-left { content: none; }
  @bottom-right { content: none; }
}

@page illust{
  margin-top: 0px; /*天*/
  margin-bottom: 0px; /*地*/
  margin-left: 0px; /*小口*/
  margin-right: 0px; /*小口*/
  background-color: red;
  @bottom-left { content: none; }
  @bottom-right { content: none; }
}

@page illust:right{
  background-color: green;

}
@page illust:left{
  background-color: blue;
}
html {
  font-family:'Gilda Display', 'GenEiChikuMin', serif;
  /* 約物の調整、和欧文間スペース */
  text-spacing: space-first allow-end ideograph-alpha ideograph-numeric;
  line-height: 2em;
}

body{
  margin-top:0mm;
  margin-bottom:0mm;
}

/* 階層構造は可変なのでこちらにサイズ情報はつけない */
h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
  font-size: param.$body_letter_size;
  break-after: avoid;
  line-height: param.$body_line_height;
  letter-spacing: 0.125em;
}

ruby > rt {
  font-size: 0.4rem;
  margin-top:-2px; /*for firefox only*/
  margin-bottom:-2px; /*for firefox only*/
  margin-left:-1px; /*for firefox only*/
  margin-right:-1px; /*for firefox only*/
}

p {
  /* 行頭字下げを手動・全角スペースで行う、テキストエディタに近い形式の場合 */
  text-indent: 0em;
  hanging-punctuation: allow-end;
  /* 段落毎の自動字下げ、括弧開始時の字下げ外しを自動化する場合 */
  /*
  text-indent: 1em;
  hanging-punctuation: first allow-end;
   */
}

header{
  display:none;
}
/* Role-Related Layout Styles */
/* 前付け */
section[role="frontmatter"] {
  page: frontmatter;
  position:absolute;
  bottom:0;
  left:10vw;
  width:90vw;
  height:100vh;

  writing-mode: horizontal-tb;
  margin:0mm;
  padding:0;
  text-align: center;
  /*
  width:100vw;
  height: 100vh;
  orphans: 1;
  widows: 1;
  margin: auto;
  text-align: center;
  */

  /* 叢書、文庫、新書などのシリーズ名 */
  .series {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  /* 題名 */
  .maintitle {
    font-family: 'Zen Old Mincho', serif;
    font-weight: 700;
    font-size: 2rem;
    line-height: 4rem;
    padding-top:2em;
    padding-bottom:2em;
  }

  /* 副題 */
  .subtitle {
    display: inline-block;
    font-family: 'Faster One', cursive;
    line-height:1.2em; font-style:normal;
    font-weight:400; font-size: 20px;
    border-style:solid; border-color:black;
    padding-top:0em;
    padding-bottom:0em;
    width:fit-content;
    margin-top:2em;
    margin-bottom:3em;
    padding-right: 0.15em;
  }

  /* 補足 */
  .extra {
    display:inline-block;
    width:fit-content;
    padding-bottom:4em;
  }

  /* 版元 */
  .publisher {
    display:block;
  }

  .disclaimer {
    display:block;
    text-align: left;
    position: absolute;
    bottom: 20pt;
    font-size: 7.5pt;
    line-height: 13pt;
  }
}


/* 目次 */
section[role="toc"]{
  page: frontmatter;

  h1.toc,
  h2.toc,
  h3.toc,
  h4.toc,
  h5.toc,
  h6.toc,
  {
    font-size: calc(param.$body_letter_size * 1.5);
    line-height: calc(param.$body_line_height * 3);
    font-weight: bold;
  }
  nav{
    font-size:8.5pt;
    /* ページ内二段組*/
    /* 目次がページに収まる場合は、scr.jsonのstyle>toc>の末尾に */
    /* ./theme/make_multi_columns.cssを指定しない*/

    /*    column-gap: 3em; */
    /*    column-fill: balance; /* autoはchromeの場合表示が崩れる*/
    /*    column-count:2; */
    /* padding-bottom:12mm; */
    /* margin-left:0mm; */
    /* margin-right:0mm;*/
    /* width:80vw; */
    li{
      list-style-type:none;
    }


    /* 第N章　の表示を自動生成する場合にコメントアウトする*/
    /* 二桁以上の章数だと漢数字表記がおかしくなるため、現状は非推奨*/
    /* 漢数字表記はcjk-ideographicではなく、@counter-style定義の */
    /* cjk-decimal か japanese-informal、またはそれ参照したものが望ましい */
    /* ※202207時点ではcounter-styleはサポート外*/
    /*
    counter-reset:counter_h1;
    &>ul, &>ol {
      counter-reset: counter_h2;
      & > li::after {
        color: red;
        display: inline flex;
        counter-increment: counter_h1;
        content: "第" counter(counter_h1,cjk-decimal) "章 ";
        text-combine-upright: digits 2;
        float: top;
        width: 0em;
        padding-top:0em;
        margin-top: -4em;
      }
      &>ul,&>ol { //第二階層
        counter-reset: counter_h3;
        & > li::after {
          color: red;
          display: inline flex;
          counter-increment: counter_h2;
          content: "第" counter(counter_h2,cjk-decimal) "話 ";
          text-combine-upright: digits 2;
          float: top;
          width: 0em;
          margin-top: -4em;
        }
      }
    }*/
 
    ul, ol {
      padding-top:1em;
      & > li{
        display: flex;
        flex-direction: column-reverse;   /* flex containerの縦書き設定 */
        justify-content: flex-start;   /* 左右設定 - 右 */
        align-items: flex-between;   /* 上下配置 - 上 */
        margin-top:0em;
        margin-left:0em;
        &:after{
          break-after: always;
        }
      }
    }
    
    li {
      a {
        display: flex;
        float:top;
        width: 100%;
        text-decoration: none;
        color: currentcolor;
        break-inside: avoid;
        order: 1;

        &::before{ /* 点線 */
          display:inline;
          float: top;
          margin-left: 1px;
          margin-right: 1px;
          border-top: solid 3px white;
          border-bottom: solid 3px white;
          content: "　";
          background-image : linear-gradient(to bottom, rgb(0, 0, 0), rgb(0, 0, 0) 2px, transparent 1px, transparent 1px); 
          background-size: 1px 9px; /*間隔に影響*/
          transform:translate(1px,0px);
          background-position: center;
          background-repeat: repeat-y;
          align-self: flex-end;
          order: 1;
          flex: auto;
        }
        &::after{ /* リンク */
          display: inline flex;
          font-size:5pt;
          content: target-counter(attr(href, url), page,decimal);
          text-combine-upright: all; /*英数字縦中横*/
          flex: none;
          order: 1;
          text-align:left;
        }
      }
    }
  }
}

/*献辞*/
section[role="dedication"]{
  page: frontmatter;
  font-size:8.5pt;
  position: absolute;
  top: 60%;
  left: 50%;
  height:80vh;
  transform: translate(-50%, -50%);

}

/*エピグラフ*/
section[role="epigraph"]{
  page: frontmatter;
}

/* 中扉 */
section[role="halftitle"] {
  page: frontmatter;
  h1,h2,h3,h4,h5,h6{
    font-size: calc(param.$body_letter_size * 3);
    font-style: bold;
    font-family: 'Zen Old Mincho', serif;
  }
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  page-break-before: always;
  page-break-after: always;

}

/* 本文 */
section[role="doc-body"] {
  page: default;
  font-size: param.$body_letter_size;; /*12Q / Q指定も可能*/
  line-height: param.$body_line_height;
  page-break-inside: auto;

  /*フォントとの相性によってはこちらのほうが見やすいケースあり*/

  /* 二段組 
  column関連の指定は、現時点ではbody/html下で指定しないかぎり
  機能しないのでコメントアウトする。
  関連→https://github.com/vivliostyle/vivliostyle.js/issues/579
  代わりにmake_column.cssを本文ファイルで指定して読み込む
  column-fill:auto;
  column-gap: 2em;
  column-count:2;
  line-height:16pt;
  margin-left:15mm;
  margin-right:15mm;
  */
  /* 章題 */
  h1.title,
  h2.title,
  h3.title,
  h4.title,
  h5.title,
  h6.title
   {
    display:block;
/*    position:absolute;*/
    font-size: 12pt;
    font-style: bold;
    line-height:calc(2 * param.$body_line_height);

    /* 第N章　の表示を自動生成する場合にコメントアウトする*/
    /* 二桁以上の章数だと漢数字表記がおかしくなるため、現状は非推奨*/
    /* 漢数字表記はcjk-ideographicではなく、@counter-style定義の */
    /* cjk-decimal か japanese-informal、またはそれ参照したものが望ましい */
    /* ※202207時点ではcounter-styleはサポート外*/
    /*
    counter-increnemt: counter_h1elem;
      &::before{
      display: inline flex;
      counter-increment: counter_h1elem;
      content: "第" counter(counter_h1elem,cjk-decimal) "章 ";
      float: top;
      width: 0em;
      margin-top: -4em;
    }
    */
    }
  
  /* 章副題 */
  h1.subtitle,
  h2.subtitle,
  h3.subtitle,
  h4.subtitle,
  h5.subtitle,
  h6.subtitle,
   {
    font-size:8.75pt;
    page-break-before: auto;
    page-break-after: auto;
    text-indent: 0em;
    margin-top:2em;
    line-height:15pt;
  }
  &>section{
    page-break-after: auto;
    margin-left:0;
    margin-right:0;
  }
  .body-text {
    font-style: normal;
    h1:not(:empty),
    h2:not(:empty),
    h3:not(:empty),
    h4:not(:empty),
    h5:not(:empty),
    h6:not(:empty){
      text-indent: 2rem;
      &:before{
        content: "◆　";
        font-size:8.75pt;
        display:inline;
      }
    }
  }

  /* 補足テキスト */
  .comment{
    font-style: normal;
    h1,h2,h3,h4,h5,h6{
      text-indent: 2rem;
      &:before{
        content: "◆　";
        font-size:8.75pt;
        display:inline;
      }
    }
  }
  .script{ /* 特殊形式 - 台本 */
    p{
      padding-top:2em; /*人名の最大文字数を指定*/
      .name{
        display:inline-block;
        margin-top:-2em; /*人名の最大文字数を指定*/
        &::after{
          content:"："
        }
      }
    }
  }
  .illustration { /* 挿絵 - 紙面+塗り足し */
    /* 改ページと同じ位置に挿入するとバグる */

    position:relative;
    page: illust;
    page-break-before: avoid;
    page-break-after:avoid;
    width:calc(param.$page_width + ( 2 * param.$bleedmargin) );
    height:calc(param.$page_height + ( 2 * param.$bleedmargin) );
    /*
    border-color: gray;
    border-width: 1px;
    border-style: dashed;
    */
    img{
      position:relativea;
      /*opacity: 50%; 動作確認用*/
      margin: calc(0mm - 1.005*param.$bleedmargin) calc(0mm - 1.005 * param.$bleedmargin);
      /*1.0きっかりだと隣にはみ出して空ページが出来てしまうので苦肉の策*/
      width:calc(param.$page_width + ( 2 * param.$bleedmargin) );
      height:calc(param.$page_height + ( 2 * param.$bleedmargin) );
      image-resolution: 350dpi;
    }
    figcaption{
      display: none;
    }
  }
}


/*本文・特殊形式 - 短編小説の表題+改ページ+本文形式*/
section[role="doc-body"].shortstory{
  page-break-before: recto;
  page: shortstory_title;

  /* title only element of headers : without other info */
  h1.single_element_page,
  h2.single_element_page,
  h3.single_element_page,
  h4.single_element_page,
  h5.single_element_page,
  h6.single_element_page
  {
    page-break-before: recto;
    page-break-after: always;
    width:max-content;
    height:max-content;
    display:block;
    font-style: bold;
    font-size:22.5pt;
    position: absolute;
    writing-mode: vertical-lr;
    top:0;
    left:0;
    margin-top:25vh;
    margin-left:50vw;
    margin-right:50vw;
  }

  /* title element of header: with other info */
  h1.title,
  h2.title,
  h3.title,
  h4.title,
  h5.title,
  h6.title
  {
      text-indent: 0mm;
      width:50vw;
      height:10vh;
      display:block;
      /* background-color:red; */
      display:block;
      writing-mode: horizontal-tb;
      overflow: visible;
      font-family: 'Zen Old Mincho', serif;
      position: absolute;
      top: 20vh;
      left:5vw;
      font-style: bold;
      page-break-before: recto;
      page-break-after: avoid;
      font-size:20pt;
      &::before{
        content:"";
      }
    }
  h1.subtitle,
  h2.subtitle,
  h3.subtitle,
  h4.subtitle,
  h5.subtitle,
  h6.subtitle
  { /* subtitle or author element of header */
    text-indent: 0mm;
    width:max-content;
    display:block;
    width:100vw;
    /* background-color:blue; */
    writing-mode: horizontal-tb;
    overflow: visible;
    font-family: 'Zen Old Mincho', serif;
    writing-mode: horizontal-tb;
    position: absolute;
    margin-top:0vh;
    margin-left:0vw;
    width:50vw;
    height:10vh;
    top: 35vh;
    left:5vw;
    font-style: italic;
    page-break-before: avoid;
    page-break-after: avoid;
    font-size:10pt;
    &::before{
      content:"";
    }
    }
    h1.author,
    h2.author,
    h3.author,
    h4.author,
    h5.author,
    h6.author { /* subtitle or author element of header */
      width:100vw;
      /* background-color:green; */
      display:block;
      overflow: visible;
      position: absolute;
      writing-mode: horizontal-tb;
      margin-top:50vh; /*二段組み下段*/
      margin-left:0vw;
      page-break-before: avoid;
      page-break-after: avoid;
      top: 10vh;
      left: 5vw;
      font-style: bold;
      &::before{
        content:"";
      }
    }
  section.body-text{
    page: default; /*ページ番号を表示状態へ*/
  }
  section.comment{
    page: default; /*ページ番号を表示状態へ*/
     h1,h2,h3,h4,h5,h6{
      &:before{
      content: "◆　";
      font-size:8.75pt;
      display:inline;
     }
    }
  }
}

/* 後付け */
section[role='colophon'] {
  page: backmatter;
  page-break-before: verso;
  writing-mode: horizontal-tb;
  width:40vh;
  height:25vh;
  position:absolute;
  vertical-align: bottom;
  bottom:10mm;
  font-size:8pt;
  /* 奥付本体 */
  .title{
    font-family: 'Zen Old Mincho', serif;
    font-size:13pt;
    line-height:16pt;
  }
  dl{
    display:flex;
    align-items: stretch;
    flex-wrap: wrap;
    font-size:8pt;
    line-height:10pt;
    margin-top:1px;
    margin-bottom:1px;
    margin-left:0px;
    margin-right:0px;
    padding-top: 1px;
    padding-bottom: 1px;
      dt {
        width: 20%; /* dt width + dd width must be 100%*/
      }
      dd {
        width: 80%;
      }
  }
  hr {
    border-top: 1px solid black;
  }
  .note{
    display: block;
    font-size:7.5pt;
    line-height:1.6em;
    border-top: solid 1px black;
  }
  /* 著者 */
  .author {
    text-align: end;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.125em;
  }
}


/* Universal Layout settings  */

/* 縦中横 */
.tcy {
  text-combine-upright: all;
}

.upright {
  text-orientation: upright;
}

/* 1-column foonote 段組を貫通する脚注 */
.footnote {
  float:footnote;
  font-size: 75%;
  counter-increment: footnote;
  text-align: center;
  a {
    word-break: break-all;
  }

  &::footnote-call { /*本文側の配置・サイズ指定*/
    /*英数字ver*/
    text-combine-upright: all;
    font-weight: bold;
    content: "[" counter(footnote) "]";
    /*漢数字ver - 現時点では非推奨*/
    /* counter-style対応以降はcjk-decimalへの切り替え推奨 */
    /* content: '(' counter(footnote,cjk-ideographic) ')';*/
    text-align: center;
    vertical-align: bottom;
    margin-top:-0.25rem;
    margin-bottom:-0.25rem;
    font-size: 70%;
  }

  &::footnote-marker { /*脚注側の配置・サイズ指定*/
    text-combine-upright: all;
    content: "[" counter(footnote) "]";
    text-align: center;
    font-weight: bold;
    margin-top: 0rem;
    font-size: 100%;
  }
  &::before{
    content:"　"
  }
}

/* multi-column footnote 段組を貫通しない脚注 */
/* @footnoteが整備されるまでのworkaround
   workaroundのため内部に別のタグが必要 - <em>や<span>など */
   .incolumn_footnote {
    counter-increment: footnote;
    &::before{ /* ::footnote-marker相当 - 本文側 */
      /*background-color: red;*/
      text-combine-upright: all;
      font-weight: bold;
      content: "[" counter(footnote) "]";
      text-align: center;
      vertical-align: bottom;
      margin-top:0.0rem;
      margin-bottom:0.0rem;
      font-size: 75%;
    }
    & >*::before{ /* ::footnote-call相当 - 脚注側 */
      /*background-color: blue;*/
      content: "[" counter(footnote) "]";
      text-combine-upright: all;
      text-align: center;
      margin-top: 0rem;
      font-size: 75%;
    }
    &> * {
      font-weight: normal;
      font-style: normal;
      float-reference: column;
      float: block-end;
      margin-block-start: 0.1em; /*本文-脚注間隔、狭め*/
      /*background: lime;*/
      font-size:75%;     /*脚注サイズ*/
      line-height:1.7em; /*脚注行間、、狭め*/
    }
  }

/* 傍点（・） */
.dotted {
  font-style: normal;
  text-emphasis-style: dot;
}

.footnote {
  background-color: red;
  counter-increment: footnote;
  &::before,
  & >*::before{
    content: "[" counter(footnote) "]";
  }
  &> * {
    font-weight: normal;
    font-style: normal;
    float-reference: column;
    float: block-end;
    padding-block-start: 0.5em;
    background: lime;
  }
}

/* 圏点（ゴマ） */
em.sesame_dot {
  font-style: normal;
  text-emphasis-style: sesame;
}

.start_new_page{
    page-break-before: always;
}

/*blank*/
section[data-type="blank"]{
    page-break-after: always;
}
.en{
    text-align: justify;
    text-justify:  inter-word;
}

.jp{
    text-align: justify;
    text-justify:  inter-word;
}

/* and more... 🖋 */
